<% provide(:title, "关于") %>
<h1>关于</h1>
<h2>关于应用</h2>
<p>
  <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> 是一本
  <a href="http://www.railstutorial.org/book">电子书</a>，它提供了
  <a href="http://screencasts.railstutorial.org/">截屏录像</a>
  来使用
  <a href="http://rubyonrails.org/">Ruby on Rails</a>进行Web开发教学。
  本应用便是基于ROR Tutorial开发的。
</p>
<h2>关于我们</h2>
<p>
  我们的团队来自
  <a href="http://www.ucas.ac.cn/">中国科学院大学</a>。
</p>
