<% provide(:title, "帮助") %>
<h1>帮助</h1>
<p>
  访问ROR Tutorial的官方网站取得帮助
  <a href="http://www.railstutorial.org/help">Rails Tutorial help section</a>。
  本应用的开发说明请参照
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em> 
  book</a>电子书。
</p>
