<li id="car-<%= car.id %>">
  <span class="carname" style="font-weight:bold"><%= link_to car.carname, car %></span><br>
  <span class="description"><%= car.description %></span><br>
  Score: 
  <% if car.score? %>
    <%= car.score %>
  <% else %>
    empty
  <% end %>
  <br>
</li>
