
 <tr class="row">
<td class="col-md-4">
   <span class="carname" style="font-weight:bold"><%= link_to car.carname, car %></span><br>
</td>
<td table table-hover>
 <span class="description"><%= car.description %></span><br>
</td>
<td table table-hover>
  Score: 
  <% if car.score? %>
    <%= car.score %>
  <% else %>
    empty
  <% end %>
  </td>
    </tr>
