<% provide(:title, @car.carname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="car_info">
      <h1>
        <%= @car.carname %>
      </h1>
      <h4>
        <%= @car.description %>
      </h4>
    </section>
  </aside>
</div>
