<% provide(:title, @car.carname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="car_info">
      <h1>
        <%= @car.carname %>
      </h1>
      <h4>
        <%= @car.description %>
      </h4>
      <% if logged_in? && current_user.admin? %>
      <%= link_to "编辑车型", edit_car_path(@car.id) %><br>
      <%= link_to "删除车型", @car, method: :delete, data: { confirm: "确定删除?" } %>
      <% end %><br>
    </section>
  </aside>
</div>
