<footer class="footer">
  <small>
    中国科学院大学版权所有 © 2018
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于",   about_path %></li>
      <li><%= link_to "联系我们", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">更多</a></li>
    </ul>
  </nav>
</footer>
